.font_color{
    color:black;
}

.custom_rowName{
    text-align: left;

}

/* .bg-image{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    opacity: 0.4;
} */

.bg-image{
    position: relative; 
    height: 100vh;
    /* height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://placekitten.com/1200/800');
    background-size: cover;
    isolation: isolate; */
}

.bg-image::after{
    content: "";
    background-image: url('https://wallpaperaccess.com/full/1439015.jpg');
    background-size: cover;
    /* background-repeat: repeat-y; */
    background-position: center;
    opacity: 0.3;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    /* background-color: rgba(0,0,0,0.75); */
}
